:root {
    --typescale-lead            : 3rem;
    --typescale-paragraph       : 1.5rem;
    --typescale-small-paragraph : 20px;

    --primary-color: #e53b17;
    --primary-light: #f88123;

    --border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    overflow: hidden;

        // tout mettre à plat
    h1, h2, h3, h4, h5, h6, p, textarea, details, button {
        text-decoration: none;
        font-size: var(--typescale-paragraph);
        color: white;

            // enlever la possibilité de sélection (plus KLEAN)
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        font-family: Arial, Helvetica, sans-serif;
    }

    button:hover {
        cursor: pointer;
    }

        // principal de la page
    &>main {

        width: 100vw;
        height: 100vh;
    
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--primary-color);
    
        // zone principale (au milieu)
        &>div {

            width: 75%;
            height: 75%;

            display: flex;
            align-items: center;
            gap: 2rem;
            padding: 1rem;

            border: 1rem ridge white;
            
            background-color: var(--primary-light);
    
            // zone à gauche (mot + sa déf)
            &>div {
                background-color: var(--primary-light);

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                height: 100%;
                flex-grow: 1;

                padding: 1rem;

                    // Mot à définir
                &>div:first-of-type {

                    position: relative;

                    &>#word-to-define {
                        font-weight: bolder;
                        text-align: center;
                        font-size: var(--typescale-lead);
                        text-shadow: black 0 0 5px;
                        
                        padding: 1rem;
                        margin: 0 1rem;
    
                        border: 5px double var(--primary-color);
                    }

                    &>div {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 0%;
                        background-color: var(--primary-light);

                        transition: width .8s;
                        transition-timing-function: cubic-bezier(.4,0,0,1);

                        &.active {
                            width: 100%;
                        }
                    }
                }

                &>details {
                    flex-grow: 1;
                    padding: 1rem;

                    width: 75%;

                        // bouton de déroulement
                    &>summary {
                        padding: .5rem;
                        border-radius: var(--border-radius);
                        background-color: white;

                        color: var(--primary-light);
                        text-align: center;
                        font-size: var(--typescale-paragraph);
                        font-weight: 700;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                        // la définition
                    &>p {
                        padding: 1rem;

                        font-size: var(--typescale-paragraph);
                        font-style: oblique;

                        width: 100%;
                    }
                }

                &>button {
                    width: 30%;

                    padding: .5rem;

                    background-color: var(--primary-color);

                    border-radius: var(--border-radius);
                    border: none;

                    opacity: .8;
                    transition: opacity .3s, transform .65s;

                    &:hover {
                        opacity: 1;
                        transform: translateX(5%);
                    }
                }
            }

            // trait de séparation
            &>span {
                height: 95%;
                border: 2px solid var(--primary-color);
            }

            // zone à droite (essaie de définition)
            &>textarea {
                background-color: var(--primary-light);

                border-width: 5px;
                border-color: var(--primary-color);

                padding: 1rem;

                flex-basis: 25%;
                flex-shrink: 0;

                height: 100%;
                
                resize: none;

                font-size: var(--typescale-small-paragraph);
                color: rgba(black, .7);

                &::placeholder {
                    color: rgba(black, .3);
                    font-style: italic;
                }
                
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
