:root {
    --typescale-lead            : 3rem;
    --typescale-paragraph       : 1.5rem;
    --typescale-small-paragraph : 20px;

    --primary-color: #e53b17;
    --primary-light: #f88123;

    --border-radius: 5px;

    // variables sous forme responsive
    @media screen and (max-width: 428px) {
        --typescale-lead            : 1.8rem;
        --typescale-paragraph       : 1.35rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: var(--primary-color);

        // tout mettre à plat
    h1, h2, h3, h4, h5, h6, p, textarea, details, button {
        text-decoration: none;
        font-size: var(--typescale-paragraph);
        color: white;

        // enlever la possibilité de sélection (plus KLEAN)
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        font-family: Arial, Helvetica, sans-serif;
    }

    button:hover {
        cursor: pointer;
    }

        // principal de la page
    &>main {

        overflow: hidden;

        width: 100vw;
        height: 100vh;
    
        display: flex;
        justify-content: center;
        align-items: center;

        // CHOIX DU JEU
        &>div.game-choice {
            background-color: var(--primary-light);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            z-index: 2;
            width: 100vw;
            height: 100vh;

            position: fixed;
            top: 0;
            left: 0;

            &>h1 {
                font-size: var(--typescale-lead);
                font-weight: 800;
            }

            &>button {
                padding: 1rem;

                background-color: var(--primary-color);

                border: none;
                border-radius: var(--border-radius);

                font-size: var(--typescale-paragraph);
            }
        }

        // ZONE DE JEU
        &>div:not(.game-choice) {

            display: none;
            &.active {
                display: flex;
            }

            width: 75%;
            height: 75%;

            align-items: center;
            gap: 2rem;
            padding: 1rem;

            border: 1rem ridge white;
            
            background-color: var(--primary-light);
    
            // zone à gauche (mot + sa déf)
            &>div {
                background-color: var(--primary-light);

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                height: 100%;
                flex-grow: 1;

                padding: 1rem;

                    // Mot à définir
                &>div:first-of-type {

                    position: relative;

                    &>#word-to-define {
                        font-weight: bolder;
                        text-align: center;
                        font-size: var(--typescale-lead);
                        text-shadow: black 0 0 5px;
                        
                        padding: 1rem;
                        margin: 0 1rem;
    
                        border: 5px double var(--primary-color);
                    }

                    &>div {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 0%;
                        background-color: var(--primary-light);

                        transition: width .8s;
                        transition-timing-function: cubic-bezier(.4,0,0,1);

                        &.active {
                            width: 100%;
                        }
                    }
                }

                &>details {
                    flex-grow: 1;
                    padding: 1rem;

                    width: 75%;

                        // bouton de déroulement
                    &>summary {
                        padding: .5rem;
                        border-radius: var(--border-radius);
                        background-color: white;

                        color: var(--primary-light);
                        text-align: center;
                        font-size: var(--typescale-paragraph);
                        font-weight: 700;

                        &:hover {
                            cursor: pointer;
                        }
                    }

                        // la définition
                    &>p {
                        padding: 1rem;

                        font-size: var(--typescale-paragraph);
                        font-style: italic;

                        width: 100%;
                    }
                }

                &>button {
                    width: 30%;

                    padding: .5rem;

                    background-color: var(--primary-color);

                    border-radius: var(--border-radius);
                    border: none;

                    opacity: .8;
                    transition: opacity .3s, transform .65s;

                    &:hover {
                        opacity: 1;
                        transform: translateX(5%);
                    }
                }
            }

            // trait de séparation
            &>span {
                height: 95%;
                border: 2px solid var(--primary-color);
            }

            // zone à droite (essaie de définition)
            &>textarea {
                background-color: var(--primary-light);

                border-width: 5px;
                border-color: var(--primary-color);

                padding: 1rem;

                flex-basis: 25%;
                flex-shrink: 0;

                height: 100%;
                
                resize: none;

                font-size: var(--typescale-small-paragraph);
                color: rgba(black, .7);

                &::placeholder {
                    color: rgba(black, .3);
                    font-style: italic;
                }
                
                &:focus {
                    outline: none;
                }
            }
        }
    }










    /*************
    * RESPONSIVE
    *************/
    @media screen and (max-width: 428px) {

        &>main {

            overflow-y: scroll;

            // zone principale (au milieu)
            &>div:not(.game-choice) {

                height: 100vh;
                width: 100vw;

                // zone à gauche (mot + sa déf)
                &>div {
                    gap: .5rem;
                    padding: .5rem;
    
                        // Mot à définir
                    &>div:first-of-type {
    
                        &>#word-to-define {
                            padding: .5rem;
                        }
                    }
    
                    &>details {
                        width: 100%;
    
                        // bouton de déroulement
                        &>summary {

                            // cacher txt (la Rousse)
                            &>span {
                                display: none;
                            }
                            padding: .2rem;

                        }
    
                        // la définition
                        &>p {
                            text-align: justify;
                            padding: .5rem;
                            font-size: larger;
                        }
                    }
    
                    &>button {
                        width: 60%;

                        padding: .5rem;

                        opacity: 1;

                        &:hover {
                            transform: none;
                        }
                        
                        // cacher le logo de flèche
                        &>span {
                            display: none;
                        }
                    }
                }
    
                // trait de séparation
                &>span {
                    display: none;
                }
    
                // zone à droite (notes)
                &>textarea {
                    display: none;
                }

            }
        }

    }
}
